.quiz-page{
    background-color: rgb(83, 186, 245);
    height: 100vh;
}

.quiz-card{
    background-color: rgb(29, 32, 48);
    position: relative;
    top: 100px;
    left: 100px;
    width: 80vw;
    height: 50vh;
    color: white;
    font-size: 1.5em;
    border-radius: 10px;
    box-sizing: border-box;
    /* margin-left: auto; */
    box-shadow: 0 0 40px rgb(29, 32, 48, 0.7); /* 6px blur with black color and 50% opacity */
    display: grid;
    grid-template-columns: auto auto;
}

.options{
    padding: 10px;
    margin: 15px;
    width: 300px;
    background-color: rgb(29, 32, 48);
    /* border-width: 5px;
    border-color: rgb(29, 32, 48, 0.7); */
    border: 5px solid rgba(65, 109, 138, 0.7);
    border-radius: 15px;
    cursor: pointer;
}

.options:hover{
    background-color: rgba(166, 167, 173, 0.7);

}

.score-card{
    margin: auto;
    margin-left: 45%;
}

@media only screen and (max-width: 700px){
    .quiz-card{
        position: relative;
        top: 100px;
        left: 50px;
        width: 70vw;
        height: auto;
        display: grid;
        grid-template-columns: auto;
        /* box-sizing: border-box; */
    }
    .score-card{
        margin: auto;
        /* margin-left: 45%; */
    }
}